<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tcss450.uw.edu.hitmeupv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
         />


    <application
        android:allowBackup="true"

        android:icon="@mipmap/androidicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/androidiconround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".HomepageActivity"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_homepage"
            android:theme="@style/MessageTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tcss450.uw.edu.hitmeupv2.HomepageActivity" />
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:label="@string/title_activity_friends"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tcss450.uw.edu.hitmeupv2.HomepageActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tcss450.uw.edu.hitmeupv2.HomepageActivity" />
        </activity>
    </application>

</manifest>